.chartContainer{
	position:absolute;
	width:600px;	
	background-color:black;
	height:450px;
	right:0px;
	bottom:400px;
	border-radius: 8px;  
	animation:chartAnimation 0.6s;
	-webkit-animation:chartAnimation 0.6s;
}
@keyframes chartAnimation
{
    0% {width:0px;bottom:400px;}
    100% {width:600px;bottom:400px;}
}
@-webkit-keyframes chartAnimation 
{
    0% {width:0px;bottom:400px;}
    100% {width:600px;bottom:400px;}
}
#main{
	position:absolute;
	right:0px;
	width: 590px;
	height:400px;
}