<div class="wContainer" style="filter:alpha(opacity=60);opacity: 0.6;">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-labe="Close">
			    <span dojoAttachPoint="close" aria-hidden="true">×</span>
	  </button>
	  </div>
	  <div id="btnContainer">
	    <button type="button" class="btn btn-primary">
                     今天天气
        </button>
        <button type="button" class="btn btn-primary" dojoAttachPoint="predict">
                     预报天气
        </button>
	  </div>
	  <div id="wContent">
	     <span id="date"></span>
	     <span id="city"></span>
	     <span id="date2"></span>
	     <span id="tem"></span>
	     <img id="dayPic"></img>
	     <img id="night"></img>
	     <span id="wind"></span>
	     <span id="myweather"></span>
	     <span id="temp">PM2.5:</span>
	     <span id="pm25"></span>
	  </div>
	  <div id="lifeSuggest">
	     <div id="wearIndex">
	       <span id="wearTitle"></span>
	       <span id="wearTip"></span>
	       <span id="zs"></span>
	     </div>
	     <div id="healthIndex">
	       <span id="healthTitle"></span>
	       <span id="healthTip"></span>
	       <span id="zs2"></span>
	     </div>
	     <div id="sportIndex">
	       <span id="sportTitle"></span>
	       <span id="sportTip"></span>
	       <span id="zs3"></span>
	     </div>
	     <div id="sunIndex">
	       <span id="sunTitle"></span>
	       <span id="sunTip"></span>
	       <span id="zs4"></span>
	     </div>
	  </div>
	  
</div>