<div class="preContainer" style="filter:alpha(opacity=60);opacity: 0.6;">
 <div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-labe="Close">
			    <span dojoAttachPoint="close" aria-hidden="true">×</span>
	  </button>
 </div>
 <div class="future1"> 
     <span id="city1"></span>
     <span id="date1"></span>
     <span id="tem1"></span>
     <img id="dayPic1"></img>
     <img id="night1"></img>
     <span id="wind1"></span>
     <span id="myweather1"></span>   
 </div>
 <div class="future2">
     <span id="city2"></span>
     <span id="date_2"></span>
     <span id="tem2"></span>
     <img id="dayPic2"></img>
     <img id="night2"></img>
     <span id="wind2"></span>
     <span id="myweather2"></span>   
 </div>
 <div class="future3">
     <span id="city3"></span>
     <span id="date3"></span>
     <span id="tem3"></span>
     <img id="dayPic3"></img>
     <img id="night3"></img>
     <span id="wind3"></span>
     <span id="myweather3"></span>   
 </div>
</div>