<div class="LeftPane-container"> 	            
	<button class="layui-btn" id="lyrBtn" dojoAttachPoint="showPane">
	  <i class="layui-icon">&#xe623;</i> 图层控件
	</button>
	<button class="layui-btn" id="listBtn" dojoAttachPoint="showList">
	  <i class="layui-icon">&#xe623;</i> 测站列表
	</button>	
	<button class="layui-btn" id="threeDBtn" dojoAttachPoint="show3D">
	  <i class="layui-icon">&#xe623;</i> 三维显示
	</button>
	<button class="layui-btn" id="InfoPane" dojoAttachPoint="tableAnalysis">
	  <i class="layui-icon">&#xe623;</i> 图表分析
	</button>
	<button class="layui-btn" id="Analysis" dojoAttachPoint="analysis">
	  <i class="layui-icon">&#xe623;</i> 综合分析
	</button>
	<button class="layui-btn" id="Dynamic" dojoAttachPoint="Dynamic">
	  <i class="layui-icon">&#xe623;</i> 动态显示
	</button>
</div>

